.ltn__modal-area.timeModal .modal-content {
    border-radius: 20px;
}

.ltn__modal-area.timeModal .modal-dialog {
    max-width: 950px !important;
}

.ltn__modal-area.timeModal .modal-body .ltn__quick-view-modal-inner {
    padding: 20px 40px;
}

.ltn__modal-area.timeModal .modal-body .modalHeading h2 {
    font-size: 20px;
    text-align: center;
    font-family: var(--ltn__body-font);
    color: #3e2837;
    font-weight: 700;
    margin-bottom: 10px;
}

.ltn__modal-area.timeModal .modal-body .timeCards {
    background: #00cb04;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.ltn__modal-area.timeModal .modal-body .bgNew {
    background: #fff;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.2s;
}

.ltn__modal-area.timeModal .modal-body .timeCards p {
    color: #fff;
    margin: 0;
    user-select: none;
    font-weight: 500;
}

.ltn__modal-area.timeModal .modal-body .bgNew p {
    color: black;
    margin: 0;
    user-select: none;
    font-weight: 500;
}

.ltn__modal-area.timeModal .modal-body .modalHeading p {
    text-align: center;
    color: #989898;
    font-weight: 700;
}

.ltn__modal-area.timeModal .modal-body .modalBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.ltn__modal-area.timeModal .modal-body .modalBtn button:first-child {
    width: 105px;
    background-color: #00cb04;
    font-weight: 600;
    color: #fff;
    border-radius: 8px;
    height: 42px;
    user-select: none;
}

.ltn__modal-area.timeModal .modal-body .modalBtn button:nth-child(2) {
    width: 105px;
    border-radius: 8px;
    height: 42px;
    font-weight: 600;
    user-select: none;
    background-color: #00cb04;
    color: #fff;
}

.separator {
    width: 1px;
    height: 17px;
    background-color: #071c1f;
    margin: 0 10px;
}
.custom_drop_btn,
.dash_date_pickr {
    float: right;
    border: 1px solid #00c800;
    padding: 0 10px;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 1.5rem;
    font-size: 16px;
    font-weight: 700;
    color: #00c800;
    line-height: 40px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.custom_drop_btn:hover,
.custom_drop_btn.active,
.dash_date_pickr:hover,
.dash_date_pickr.active {
    background: #00c800;
    color: #fff;
}

.custom_drop_btn:hover .dash_date_icon,
.custom_drop_btn.active .dash_date_icon,
.dash_date_pickr:hover .dash_date_icon,
.dash_date_pickr.active .dash_date_icon {
    background-position: -51px -79px;
}

.custom_drop_btn:hover .dash_date_arrow,
.custom_drop_btn.active .dash_date_arrow,
.dash_date_pickr:hover .dash_date_arrow,
.dash_date_pickr.active .dash_date_arrow {
    background-position: -77px -86px;
}
.custom_drop_popup,
.dash_date_inner {
    display: none;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 50px;
    width: 100%;
    max-width: 340px;
    box-shadow: 0 0 40px rgba(110, 110, 110, 0.28);
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    text-align: left;
    transition: all 0.3s ease;
}

.custom_drop_popup.show,
.dash_date_inner.show {
    display: block;
    transform: scaleY(1);
}

.custom_drop_popup label,
.dash_date_inner label {
    color: #c4b7c0;
    font-weight: 700;
    font-size: 16px;
}

.custom_drop_popup .datetimepicker-input,
.dash_date_inner .datetimepicker-input {
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 5px;
    position: relative;
    color: #7a5970;
}
.dash_date_from {
    float: left;
    width: 46%;
    height: 90px;
}

.dash_date_to {
    float: right;
    width: 50%;
    height: 90px;
}

.date_btns {
    margin-top: 13px;
}
.custom_drop_popup,
.dash_date_inner {
    display: none;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 50px;
    width: 100%;
    max-width: 340px;
    box-shadow: 0 0 40px rgba(110, 110, 110, 0.28);
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    text-align: left;
    transition: all 0.3s ease;
}

.custom_drop_popup.show,
.dash_date_inner.show {
    display: block;
    transform: scaleY(1);
}

.custom_drop_popup label,
.dash_date_inner label {
    color: #c4b7c0;
    font-weight: 700;
    font-size: 16px;
}

.custom_drop_popup .datetimepicker-input,
.dash_date_inner .datetimepicker-input {
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 5px;
    position: relative;
    color: #7a5970;
}
.custom_drop_optn,
.date_btn {
    font-size: 14px;
    font-weight: 700;
    color: #171b2a;
    text-align: center;
    padding: 12px;
    border: 1px solid #c4b7c0;
    margin-bottom: 13px;
    border-radius: 10px;
    background: #fff;
    width: 100%;
    transition: all 0.3s ease;
}

.custom_drop_optn:last-child,
.date_btn:last-child {
    margin: 0;
}

.custom_drop_optn.active,
.custom_drop_optn:hover,
.custom_drop_optn:focus,
.date_btn.active,
.date_btn:hover,
.date_btn:focus {
    color: #fff;
    background: #00c800;
    border-color: #00c800;
}

.custom_drop_btn .custom_selected {
    max-width: 86%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
.row.properties_filter_row {
    box-shadow: 0 0 16px rgba(110, 110, 110, 0.28);
    margin: 15px;
    padding: 15px;
    padding-bottom: 0px;
}

.custom_drop_optn,
.date_btn {
    font-size: 14px;
    font-weight: 700;
    color: #212529;
    text-align: center;
    padding: 12px;
    border: 1px solid #c4b7c0;
    margin-bottom: 13px;
    border-radius: 10px;
    background: #fff;
    width: 100%;
    transition: all 0.3s ease;
}

.custom_drop_optn:last-child,
.date_btn:last-child {
    margin: 0;
}

.custom_drop_optn.active,
.custom_drop_optn:hover,
.custom_drop_optn:focus,
.date_btn.active,
.date_btn:hover,
.date_btn:focus {
    color: #fff;
    background: #00c800;
    border-color: #00c800;
}

.custom_drop_btn .custom_selected {
    max-width: 86%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
.custom_drop_optn,
.date_btn {
    font-size: 14px;
    font-weight: 700;
    color: #171b2a;
    text-align: center;
    padding: 12px;
    border: 1px solid #00c800;
    margin-bottom: 13px;
    border-radius: 10px;
    background: #fff;
    width: 100%;
    transition: all 0.3s ease;
}
.date-Selector input[readonly] {
    background-color: #fff !important;
    color: #171b2a;
    border: 1px solid #00c800;
    border-radius: 6px;
    width: 148px;
    cursor: pointer;
    height: 38px;
    font-size: 14px;
}
/* ---tabbing--- */
.nav-link.active {
    background-color: #00c800 !important;
    font-weight: 600;
    color: #fff !important;
}
.customColor {
    color: #071c1f !important;
    font-weight: 600;
}
.tab-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    /* margin-bottom: 15px; */
}
.tab-data .tabInner-data {
    display: flex;
    align-items: center;
}
.tab-data .tabInner-data h1 {
    font-size: 60px;
}
.tab-data .tabInner-data .view {
    padding: 6px 10px;
    border-radius: 4px;
    width: 118px;
    background-color: #edecec;
    margin-right: 10px;
}
.tab-data .center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-data .tabInner-data .joinCall {
    padding: 6px 10px;
    border-radius: 4px;
    width: 118px;
    background-color: #00c800;
}
.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group button:nth-child(2) {
    display: none;
}
.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group button:first-child {
    border-radius: 0.25em;
}
.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(3) button {
    border-radius: 0.25em;
}
.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk button {
    background-color: #00c800;
    font-weight: 600;
    border-color: transparent !important;
    box-shadow: none !important;
}
.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
    border-color: transparent !important;
}
.fc .fc-button:disabled {
    cursor: not-allowed;
}

.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk button:hover {
    background-color: #04da04;
}
.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #04da04 !important;
}
@media (max-width: 991px) {
    .ltn__modal-area.timeModal .modal-dialog {
        max-width: 750px !important;
    }

    .ltn__modal-area.timeModal .modal-body .calenderContent {
        min-height: auto !important;
    }

    .ltn__modal-area.timeModal .modal-body .custom-calendar {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .ltn__modal-area.timeModal .modal-dialog {
        max-width: 600px !important;
    }
}
@media (max-width: 575px) {
    .tab-data {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .tab-data .tabInner-data:nth-child(2) {
        padding-top: 20px;
    }
}

.timeselectinput {
    cursor: grab !important;
    background: #fff !important;
    color: #5c727d !important;
}

.ltn__modal-area.timeModal .modal-body.calenderBody .timeCards {
    height: 40px;
}

.ltn__modal-area.timeModal .modal-body.calenderBody .bgNew {
    height: 40px;
}

.ltn__modal-area.timeModal .modal-body.calenderBody input {
    height: unset !important;
}

.ltn__modal-area.timeModal .modal-body.childModal input {
    height: unset !important;
    border-radius: 4px;
    padding: 4px 0 4px 7px;
    margin-bottom: 10px;
}

.ltn__modal-area.timeModal .modal-body .custom-calendar {
    width: 400px !important;
    padding: 15px 0 20px 0;
    margin-top: 50px;
}

.ltn__modal-area.timeModal .modal-body .custom-calendar .Calendar__weekDays {
    padding: 0 3.6em;
}

.ltn__modal-area.timeModal .modal-body .custom-calendar .Calendar__section {
    padding: 0 4.2em;
}

.ltn__modal-area.timeModal .modal-body .custom-calendar .Calendar__day,
.Calendar__day.-selected {
    border-radius: 10% !important;
}

.ltn__modal-area.timeModal .modal-body .calenderModalHeading {
    font-size: 20px;
    font-weight: 600;
    color: #071c1f;
    border-bottom: 1px solid #00c800;
    margin-bottom: 1rem;
}

.ltn__popular-post-widget ul li:hover {
    background: #ddd;
}

.ltn__popular-post-widget ul li p:hover {
    color: black;
    cursor: pointer;
}

.ltn__popular-post-widget > ul > li {
    padding: 10px;
}

.supervisor-text {
    text-align: center;
    font-weight: bold;
}

.fc .fc-scroller {
    overflow: auto !important;
}

.fc .fc-daygrid-body {
    width: 100% !important;
}

.acceptBtn {
    width: 62px;
    background: #00c800;
    color: #fff;
    border: none;
}

.rejectBtn {
    width: 62px;
    margin-top: 8px;
}

.fc .fc-scrollgrid table {
    width: 100% !important;
}
.supervisor-btn {
    width: 116px;
    border-radius: 4px;
    line-height: 18px;
    padding: 5px 0;
}
.ltn__my-properties-imgNew {
    width: 120px;
}
.dash-cards-agent,
.dash-cards-cust {
    display: flex;
}
.dash-cards-agent .card-desc-left {
    max-width: 45%;
}
.dash-cards-cust .card-desc-left {
    max-width: 45%;
}
.dashboard-card {
    line-height: 30px;
}
.dashboard-card .dash-cards-cust:first-child .card-desc-left {
    max-width: 60%;
}
.myProperties-img {
    width: 200px;
    height: 200px;
}
.myProperties-img img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.map {
    width: 96% !important;
    margin-left: 16px;
    height: 400px;
}
.mb-custom {
    margin-bottom: 15px;
}
.mb-map {
    margin-bottom: 35px;
}
.mb-btn {
    margin-bottom: 30px;
}
.mb-minor {
    margin-bottom: 10px !important;
}
.featuredImageCss {
    object-fit: contain;
}
.overflow-dots {
    width: 250px; /* Set the width of the element */
    white-space: nowrap; /* Prevent the text from wrapping */
    overflow: hidden; /* Hide any text that overflows */
    text-overflow: ellipsis;
}
.otp input:focus-within {
    border: 1px solid #23c26a !important;
    outline: none !important;
}
.contact-form-login {
    width: 600px;
    margin-inline: auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .dash-cards-cust .card-desc-left {
        max-width: unset;
    }
    .dashboard-card .dash-cards-cust:first-child .card-desc-left {
        max-width: unset;
    }
}

.status-buttons.completed {
    border-radius: 4px;
    padding: 6px 10px;
    color: white;
    width: 118px;
    background-color: #00c800;
}
.status-buttons.cancelled {
    border-radius: 4px;
    color: #071c1f;
    padding: 6px 10px;
    width: 118px;
    background-color: #edecec;
}

.notes-list {
    background: var(--fc-border-color);
    color: black;
    overflow: auto;
}

.notes-scrollable-container {
    height: 300px; /* Set the desired height for the container */
    overflow: auto; /* Enable vertical scrolling */
}
.completed-icon,
.cancelled-icon {
    margin: 2px 3px 0 0;
}
.MyModal.Modal-size-unset {
    width: 700px;
}
.MyModal.Cancelled {
    width: unset;
}
.modal-btn-custom {
    padding: 12px 20px;
}
.no-border {
    border-left: none !important;
}
.border-right {
    border-left: 1px solid #d5dbdb;
}
.lds-ring.snagList div {
    left: 48%;
}
.headerItems .listItems a{
    padding: 7px 15px !important;
}
.headerItems .listItems li a{
    padding: unset !important;
}
.headerItems .listItems{
    border: 1px solid #ABB2B9 !important;
    margin: 0 10px !important;
    box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
}
.headerItems .listItems:nth-child(2){
    padding-right: 15px;
}
.headerItems .listItems:nth-child(3){
    padding-right: 15px;
}
.userImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.userImg img{
    width: 30px;
    object-fit: cover;
    object-position: center;
    height: 30px;
    border-radius: 50%;
    margin-top: -3px;
}
.customPadding{
  width: unset !important;
  padding: 0 10px !important; 
} 
.nice-select.video-selector1{
    width: 49%;
    background-color: #e2e2e2 !important;
    margin-top: 8px;
}
.nice-select.video-selector2{
    width: 49%;
    background-color: #e2e2e2 !important;
}
.newStyling{
    width: 55px !important;
    background-color: #e2e2e2 !important;
    height: 43px !important;
    border-radius: 6px !important;
    margin: -3px 3px !important;
}
.newStyling i{
    font-size: 18px !important;
}
.video-join-call{
    padding: 5px 0;
    border-radius: 4px;
}
.w_100{
    width: 100%;
}
.h_100{
    height: 100%;
}
.cursor_pointer {
    cursor: pointer;
}
.pointer_none{
    pointer-events: none;
}
.custom_divider{
    border-bottom: 1px solid #e5eaee;
    margin: 0 10px;
}
.modalBtn .modal_close{
    background-color: #dadada;
    color: black;
}
.modalBtn .modal_submit{
    background-color: #3e2837;
}
.ml_10{
    margin-left: 10px;
}
.text_dark_blue{
    color: #171b2a;
}
.custom_position{
    position: relative;
    z-index: 999;
}
.w_130{
    width: 130px;
}
.text_greenish{
    color: #00cb04;
}
.custom_margin{
    margin: 25px 0 16px 0;
}
.m_0{
    margin: 0;
}
.chatForm_Avatar1{
     position: absolute;
    height: 32px;
    max-width: 32px;
    left: 0;
}
.chatForm_Avatar2{
     position: absolute;
    height: 32px;
    max-width: 32px;
    right: 0;
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h_70{
    height: 70px;
}
.mh_562{
    min-height: 562px;
}
.ml_n10{
    margin-left: 10px;
}
.mb_10{
    margin-bottom: 10px;
}
.mt_10{
    margin-top: 10px;
}
.ml_5{
    margin-left: 5px;
}
.ml_15{
    margin-left: 15px;
}
.mr_20{
    margin-right: 20px;
}
.pt_40{
    padding-top: 40px;
}
.mt_40{
    margin-top: 40px;
}

.otp input{
    width: 60px !important;
    height: 60px;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    border: 1px solid gray;
    user-select: none;
}

.document-modal {
    position: absolute;
    top: 46.9%;
    left: 62.5%;
    transform: translate(-50%, -50%);
    height: 93.5%;
    width: 75%;
    background-color: #000;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.document-modal-overlay {
    z-index: 16;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ltn__comment {
    border-bottom: 1px solid #00c800;
    padding: 1rem 0rem 1.5rem 0rem;
}

.ltn__comment-title {
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ltn__comment-location {
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ltn__comment-info {
    display: flex;
}

.ltn__comment-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ltn__commentdetail-posteddate {
    margin-bottom: 1rem;
}

.comment-text {
    padding: 25px;
    margin-bottom: 10px;
    background-color: #F2F4F4;
}

.blog-grid-desc {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    width: 100%;
}

.ltn__blog-item-5 {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--border-color-11) !important;
    border: transparent;
}

.ltn__blog-item-5 > .ltn__blog-img img {
    border-radius: 1rem;
}

.ltn__blog-item-5 > .ltn__blog-img {
    position: relative;
    flex: 0 0 36%;
}

.ltn__blog-title-news {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ltn__blog-item-3 {
    box-shadow: var(--ltn__box-shadow-4) !important;
}

.ltn__blog-item-3 .ltn__blog-img {		
    overflow: hidden;
    height: 300px;
}

.ltn__blog-img img {
    margin-bottom: 0 !important;
    height: -webkit-fill-available !important;
    width: -webkit-fill-available !important;
}

.ltn__blog-title {		
    margin-bottom: 20px;		
    font-size: 22px;		
    font-weight: 600;		
    white-space: nowrap;		
    overflow: hidden;		
    text-overflow: ellipsis;
}

.ltn__blog-list-wrap .ltn__blog-title {
    font-size: 30px;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
  
.ltn__blog-brief {
    overflow: hidden;
    flex: 0 0 65%;
}

.site-logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ltn__header-user-appointment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ltn__header-user-appointment .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.user-info .user-name {
    font-size: 1rem;
    color: #000;
    padding: 0rem 1rem;
    border-right: 2px solid #00cb04;
}
  
.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.quick-appointment-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-left: 1rem;
    color: black;
    background: white;
    border: 1px solid #abb2b9;
    box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1); 
}
  
.create-property-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-left: 1rem;
    color: black;
    background: white;
    border: 1px solid #abb2b9;
    box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1); 
}
  
.quick-appointment-btn:hover {
    font-size: 1rem;
    color: #fff;
    background: #00cb04;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-left: 1rem;
    border: 1px solid transparent;
}
  
.create-property-btn:hover {
    font-size: 1rem;
    color: #fff;
    background: #00cb04;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-left: 1rem;
    border: 1px solid #abb2b9;
}
  
@media screen and (max-width: 991px) {
    .ltn__header-user-appointment {
        padding-left: 1rem;
    }

    .flex-wrapper {
        flex-direction: column;
    } 

    .create-property-btn {
        margin-bottom: 0.5rem;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quick-appointment-btn {
        margin-bottom: 0.5rem;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
  
.user-icon img {
    border-radius: 50%;
    width: 60px;
}

.modal-header .close {
    position: absolute;
    height: 40px;
    width: 40px;
    line-height: 40px;
    padding: 0;
    right: -16px !important;
    left: auto;
    top: -16px !important;
    opacity: 1;
    z-index: 1;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
    
.ltn__header-area {
    z-index: 99 !important;
    position: relative;
}

.MyModalOverlay {
    z-index: 9999 !important;
}

.permission-tags {
    display: flex;
    flex-wrap: wrap;
}
  
.permission-tags .badge {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border-radius: 4px;
    color: black;
}

.street-view-div {
    margin-top: 30px;
    margin-right: 30px;
    height: 92%;
}

.user-detail-nav-pills { 
    border-bottom: 1px solid #e5eaee;
    margin: 0 10px;
}

.testing_results {
    background: none !important ;
    box-shadow: 0px 3px 10px 6px #e2e2e2;
    border: 2px solid rgb(0, 203, 4);
}

.testing_secn {
    border-right: 1px solid #00cb04 !important;
}

.right-border {
    border-right: 1.5px solid #00c800 !important;
}

.modal-body .modalHeading {
    border-bottom: 1px solid #00c800;
    margin-bottom: 1rem;
}

.modal-product-info textarea {
    min-height: 330px !important;
}

.theme-btn-:focus .theme-btn-1:active {
    box-shadow: none !important;
    color: #fff !important;
}

.document-modal-div {
    cursor: pointer;
    width: 100%; 
    height: 100%;
    object-fit: contain;
}

.phoneInput .PhoneInputCountry {
    height: 64px !important;
}

.meeting-badge {
    position: absolute;
    top: -8px;
    right: -5px;
}