#meetingBody {
  overflow-x: hidden;
}

#main {
  display: flex;
}

#members {
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 2px solid;
}

#publisher {
  width: 100%;
  height: auto;
}

#publisher>div {
  width: 100%;
  height: auto;
  margin: 4px auto;
  border-radius: 25px;
  border: 1px solid rgb(0, 0, 0)
}

#subscribers {
  margin: 0 auto;
  overflow-y: scroll;
  padding: 10px;
}

#subscribers>div {
  width: 100%;
  height: auto;
  margin: 4px;
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0)
}

#chatOptions {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);
  padding: 10px;
  background: #00C800;
  width: 100%;
  z-index: 12;
}

#chatOptions img {
  width: 30px;
  height: auto;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 10px;
  padding: 5px;
  background: ghostwhite
}

#chatOptions img:hover {
  cursor: pointer;
}

#ChatIcon {
  width: 30px;
  height: auto;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 10px;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10%;
  background: ghostwhite;
  z-index: 12;
  position: fixed;
}

#chatArea {
  width: 30%;
  height: 80vh;
  position: absolute;
  top: 20px;
  right: 0;
  border: 2px solid white;
  border-radius: 20px;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  background: #27b52770;
  backdrop-filter: blur(3px);
  padding-top: 5px;
}

#chatArea p p {
  margin: 3px auto;
  background: rgb(0 0 0 / 17%);
  width: 90%;
  border-radius: 5px;
  color: #ffffff;
  padding-left: 5px;
}

#history {
  width: 100%;
  height: 84%;
}

#Chatform {
  width: 90%;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 40px;
}:focus {
  border: 1px solid;
}

#Chatform div {
  height: 32px;
  width: 32px;
  margin: 5px;
  position: relative;
}

#Chatform input[type=file] {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 0;
  max-width: 32px;
  height: 32px;
  display: block;
  padding: 0;
}

#Chatform input[type=submit] {
  position: relative;
  opacity: 0;
  z-index: 0;
  max-width: 32px;
  height: 32px;
  display: block;padding: 0;
  margin-bottom: 0;
}

#msgTxt {
  margin-bottom: 0;
  border: none;
} :focus {
  border: none;
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  display: none;
}

@keyframes slide-in {
  100% {
    transform: translateX(-2%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(-2%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }

}

@media screen and (max-width: 767px){
  #chatArea {
   width: 80vw; 
  }
}

@media screen and (max-width: 576px){
  #chatArea {
   width: 95vw; 
  }
}

.select-margin {
  margin-bottom: 10px;
}
